*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header, footer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

h1{
    font-size: 4rem;
}

i{
    font-size: 5rem;
}


.animation{
    height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    position: relative;
    overflow: hidden;
}

.animation img{
height: 100px;
position: absolute;
top: 50%;
left: -120px;
}

